*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(1.jpg);
	height: 150vh;
	background-position: center;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	
}

h4{
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
}

h5{
	font-family: 'Poppins', sans-serif;
	float: right;
	transform: translate(-40%,900%);

}

.container{
	margin-top:20px;
	width: 100%;
	text-align: center;
	border-radius
}

.col{
	
	display: flex;
	height: 20%;
	align-items: center;
}

h1{
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 50px;
}

.card{
	width: 400px;
	height: 70vh;
	display: inline-block;
	border-radius: 10px;
	padding: 15px 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	background-position: center;
	background-size: cover;
	font-family: 'Poppins', sans-serif;	
}

.card1{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card2{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card3{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card4{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card4{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card5{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card6{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card7{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}

.card8{
	font-family: 'Poppins', sans-serif;
	background-color: #fff;
}